* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none !important;
}

/* body::-webkit-scrollbar,
.main-card::-webkit-scrollbar,
#root::-webkit-scrollbar{
    display: none;
} */
.logo {
    height: 55px;
    width: 100px;
    object-fit: cover;
    margin-top: 5px;
}

.header {
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    /* filter: blur(10px); */
    color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#header-margin {
    margin-top: 100px;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    font-size: 15px;
    font-weight: 700;
}

.nav-items li a {
    color: #5f0f9f;
    text-decoration: none;

}

.nav-items li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.main-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.main-card > a {
    text-decoration: none;
    color: rgba(2, 6, 12, 0.75);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2px;
    align-items: start;
    width: 250px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 13px; */
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 200ms;
}

.card:hover {
    transform: scale(.93);
}

.card:nth-child(1) {
    text-decoration: none;
}

.card-head {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: -0.3px;
}

.card > .img-box {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
    object-position: center;
    position: relative;
    overflow: hidden;
}

.card .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
    object-position: center;
}

.card-offer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    display: flex;
    align-items: end;
}

.card-offer h3 {
    font-size: 21px;
    font-weight: 800;
    color: #ffffff;
    margin: 5px 10px;
}

.card h4 span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 20px;
    background-color: green;
    border-radius: 50px;
    margin-right: 5px;
}

.card h4 {
    display: flex;
    align-items: center;
}

.card h4 i {
    color: white;
    font-size: 10px;
}

.card p {
    line-height: 19px;
}

.body-box {
    min-height: calc(60vh - 120px);
}

.search-empty {
    margin-top: 20px;
    text-align: center;
}

.footer {
    /* height: 40vh; */
    margin-top: 20px;
    box-shadow: 0px 0px 10px #b5b5b5;

}

.footer > div {
    padding: 4% 4% 1% 4%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: #000;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.footer > div:last-child {
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    color: lightgrey;
}

.footer .social a {
    text-decoration: none;
    color: #fff;
}

.footer p {
    opacity: .5;
    margin: 5px 0px;
}

.footer p:hover {
    text-decoration: underline;
}

#login {
    width: 85px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #491375;
    background-color: #8c00ff;
    box-shadow: inset 0px 0px 10px #140024;
    color: white;
    font-weight: 700;
    cursor: pointer !important;
}

#login:hover {
    box-shadow: 0px 0px 10px #140024;
    background-color: black;
}

#login:active {
    background-color: #8c00ff;
    box-shadow: inset 0px 0px 10px #140024;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-container input {
    border: none;
    border: 1px solid #8c00ff89;
    outline: none;
    box-shadow: inset 0px 0px 10px #8c00ffc3;
    background-color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 300px;
    font-size: 15px;
    font-weight: 600;
}

#search-container button {
    border: 1px solid #8c00ff;
    background-color: #8c00ff;
    box-shadow: inset 0px 0px 10px #140024;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

/* ------------Restaurant Menu------------ */
#res-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;
    gap: 15px;
}

#res-menu-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}

#res-menu-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 10px;
    /* margin: 10px; */
    border-bottom: 1px dotted #aaaaaa;

}

#res-menu-name p {
    font-size: 13px;
    font-weight: 400;
    opacity: .8;

}

#res-menu-name > div:last-child {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #00000036;
}

#res-menu-name > div:last-child p {
    font-size: 10px;
    font-weight: 700;
    opacity: 1;

}

#res-menu-name > div:last-child hr {
    width: 90%;
}

#res-menu-name .rating {
    color: rgb(28, 130, 28);
}

#res-menu-name .rating i {
    margin-right: 2px !important;
}

#res-menu-name .rating-tot {
    letter-spacing: -0.5px;
}

#res-menu-price {
    width: 100%;
    display: flex;
    justify-content: space-b
}

#res-menu-price h4 i:last-child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 19px;
    width: 19px;
    border: 2px solid #000;
    border-radius: 50px;
}

#res-menu-img {
    width: 300px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    border: .5px solid #dadada;
}

#res-menu-off {
    overflow: scroll;
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

#res-menu-off::-webkit-scrollbar {
    display: none;
}

#res-menu-offbox {
    display: flex;
    justify-content: start;
    min-width: 220px;
    min-height: 60px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #00000036;
    padding: 10px;
    margin: 5px 0px;
    position: relative;
}

.res-menu-flat {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    width: 30px;
    height: 100%;
    color: rgb(217, 17, 17);
    white-space: nowrap;
    letter-spacing: -0.6px;
    position: absolute;
    transform-origin: 10px;
    padding: 10px 3px;
    transform-origin: 15px;
    transform: rotate(-90deg);
}

.res-menu-flath {
    width: 15px;
    margin-right: 5px;
    border-right: 1px solid #dadada;
}

#res-menu-offbox h4 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.3px;
    opacity: .9;
}

#res-menu-offbox > div h5 {
    white-space: 3px;
    font-size: 10px;
    margin-top: 3px;
    letter-spacing: -0.3px;
    opacity: .6;
}

#res-menu-cardbox {
    width: 50%;
    border-radius: 5px;
    margin: 5px 0px;

}

#res-menu-cardbox > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#res-menu-cardb {
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #00000036;

}

.res-menu-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

.res-menu-h i {
    cursor: pointer;
    margin-right: 10px;
}

#res-menu-cardele {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px 0px;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 10px;
}

#res-menu-cardele p {
    font-size: 14px;
}

#res-menu-cardele h5 {
    opacity: .85;
}

#item-veg {
    color: green;
}

#item-nonveg {
    color: red;
}

#res-menu-cardele p:last-child {
    margin-bottom: 5px;
    color: grey;
    font-size: 12px;
}

#res-menu-cardele p:last-child:hover {
    display: block;
}

.menu-img-box {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 120px !important;
}

#res-menu-cardele .menu-img {
    width: 102px !important;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


#item-add {
    height: 22px !important;
    width: 70px !important;
    border-radius: 5px;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 5px #000;
    background-color: #fff;
    color: green;
    font-size: 14px;
    font-weight: 700;
    /* position: relative; */
    /* bottom: -5px; */
    transform: translateY(-20px);
    z-index: 1;
    right: 20%;
    cursor: pointer;
}

#item-add:hover {
    background-color: green;
    color: #fff;
}

#item-add:active {
    background-color: rgb(255, 136, 0);
    color: #fff;
}

/* -------------------------- */

/* ----------Shimmer-------------- */
.search-box-shimmer {
    display: flex;
    justify-content: center;
}

.search-shimmer {
    height: 42px;
    width: 370px;
    border-radius: 5px;
    background: linear-gradient(to right, white, lightgrey, white, lightgrey, white);
    animation: shimmer 3s linear infinite;
    background-size: 200% 100%;

}

.img-shimmer {
    /* background: #bcbcbc; */
    background: linear-gradient(to right, white, lightgrey, white);
    width: 100%;
    height: 48%;
    border-radius: 5px;
    animation: shimmer 3s linear infinite;
    background-size: 200% 100%;
}

.box-shimmer {
    background: linear-gradient(to right, white, rgb(225, 225, 225), white, rgb(223, 223, 223), white);
    width: 100%;
    height: 6%;
    border-radius: 4px;
    background-size: 200% 100%;
    animation: shimmer 3s linear infinite;
}

.big-shimmer {
    margin: 5px 0px;
    height: 15%;
    width: 100%;
}

.shimmer div:nth-child(3) {
    width: 50%;
}

.shimmer div:nth-child(4) {
    width: 70%;
}

.shimmer div:nth-child(5) {
    width: 90%;
}

/* ------------Shimmer Menu---------- */
.shimmer-menu > div > div {
    width: 250px;
    height: 10px;
    background: linear-gradient(to right, white, rgb(225, 225, 225), white, rgb(223, 223, 223), white);
    animation: shimmer 3s linear infinite;
    background-size: 200% 100%;

}

.shimmer-box-menu {
    background: linear-gradient(to right, white, rgb(225, 225, 225), white, rgb(223, 223, 223), white);
    animation: shimmer 3s linear infinite;
    background-size: 200% 100%;
}

#res-menu-cardele div > .shimmer-box-menu {
    background: linear-gradient(to right, white, rgb(225, 225, 225), white, rgb(223, 223, 223), white);
    animation: shimmer 3s linear infinite;
    background-size: 200% 100%;
    height: 15px;
    margin: 5px;
}

#res-menu-offbox .shimmer-box-menu {
    width: 100%;
    border-radius: 7px;
}

#res-menu-cardele > div {
    width: 100%;
}

#res-menu-cardele > div > div:nth-child(1) {
    width: 50%;
}

#res-menu-cardele > div > div:nth-child(2) {
    width: 70%;
}

#res-menu-cardele > div > div:nth-child(3) {
    width: 100%;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

/* ----------section Contact page ------------- */
.contact-info {
    margin-left: 10px;
}

.section-box {
    margin: 10px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}

.section-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.section-des {
    border-top: 1px solid #0000002a;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 600ms;
    width: 100%;
    overflow: hidden;

}

.section-des.visible {
    height: 160px;
}

.section-des.hidden {
    height: 0px;
}

.section-btn {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
    padding: 3px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.section-btn:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.689);

}

.cart-item-count span {
    position: relative;
    top: -15px;
    left: -13px;
    color: #ff9d00;
    font-weight: 700;
    font-size: 16px;
}

.cart-h {
    display: flex;
    margin: 10px;
    gap: 30px;
    align-items: center;
}

.cart-main {
    width: 400px;
    border: .5px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.cart-rest {
    /* height: 150px; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: .5px solid lightgray;
}

.cart-rest img {
    height: 70px;
    width: 70px;
    border-radius: 3px;
}

.cart-box {}

.cart-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5px 0px;
}

.cart-info-name {
    width: 50%;
    font-size: 14px;
}

.cart-remove-btn,
.cart-clear-btn {
    padding: 3px 5px;
    border-radius: 5px;
    margin: 5px 0px;
    border: .5px solid lightgrey;
    font-weight: 700;
    cursor: pointer;
}

.cart-opt {
    border: .5px solid lightgrey;
    display: flex;
    align-items: last normal;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
    margin: 10px 0px;
}

.cart-opt input {
    height: 40px;
    width: 40px;
}

.cart-opt p:first-child {
    font-weight: 700;
}

.cart-bills > p {
    font-weight: 700;
    font-size: 14px;
}

.cart-bills .cart-bill-his {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

/* --------------------------- */
@media (max-width: 767px) {

    #res-menu-box,
    #res-menu-cardbox,
    #res-menu-off {
        width: 90%;
    }
}

@media (max-width: 424px) {

    #res-menu-box,
    #res-menu-cardbox,
    #res-menu-off {
        width: 100%;
    }
}